@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Приветствуем вас на нашем сайте библиотеки WebLib</h1>
    <p>По всем вопросам обращаться очно в библиотеку.</p>
</div>
