@{
    ViewData["Title"] = "Политика конфиденциальности";
}
<h1>@ViewData["Title"]</h1>

<p>
    Сохранение информации:
    Мы храним вашу информацию только столько, сколько это необходимо для предоставления вам наших услуг или в соответствии с требованиями закона.
</p>
<p>
    Безопасность информации:
    Мы принимаем все необходимые меры для защиты вашей информации от несанкционированного доступа, использования или раскрытия.
</p>
<p>
    Изменение политики конфиденциальности:
    Мы можем изменять нашу политику конфиденциальности в любое время. Любые изменения будут опубликованы на этой странице.
</p>
<p>
    Свяжитесь с нами:
    Если у вас есть вопросы по нашей политике конфиденциальности, пожалуйста, обращайтесь очно в библиотеку.
</p>
